version: 2.1

jobs:
  buildAndTest:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run: python3 -m pip install .
      - run: python3 -m pip install -r requirements.txt
      - run: python3 -m pytest --cov src/ --cov-report xml
      - codecov/upload
  
  tagAndRelease:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run: python3 -m pip install -r requirements.txt
      - run:
          name: bump version
          command: |
            git config user.email "engineering@staclabs.io"
            git config user.name "stac engineering"
            python3 -m bumpversion patch

# git config --add --bool push.autoSetupRemote true
# git push && git push --tags

orbs:
  codecov: codecov/codecov@3.2.4

workflows:
  testing:
    jobs:
      - buildAndTest:
          filters:
            branches:
              ignore: main
      - tagAndRelease: # TODO REMOVE
          filters: &filters-testing
            branches:
              ignore: main
          requires:
            - buildAndTest
  
  production:
    jobs:
      - buildAndTest:
          filters: &filters-production
            branches:
              only: main
      - tagAndRelease:
          filters:
            <<: *filters-production
          requires:
            - buildAndTest